<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TreeText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CE025D21CB7A04F00B846FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE025EB1CB7A05000B846FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CE025F61CB7A05000B846FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
